@font-face {
  font-family: "iconfont"; /* Project id 3902859 */
  src: url('./iconfont.woff2?t=1676689691705') format('woff2'),
       url('./iconfont.woff?t=1676689691705') format('woff'),
       url('./iconfont.ttf?t=1676689691705') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-arrow-down:before {
  content: "\e665";
}

.iconfont-arrow-right:before {
  content: "\e666";
}

.iconfont-close:before {
  content: "\e668";
}

